@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #d96c42;
  --color-secondary: #7c3aed;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Mobile devices ‡¶è navigation arrows hide */
@media (max-width: 640px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

/* Pagination always bottom e thakbe */
.mySwiper .swiper-pagination {
  position: absolute !important;
  bottom: 0 !important;
  left: 0;
  width: 100%;
}

/* Dots overlap prevent */
.mySwiper {
  padding-bottom: 50px !important; /* enough space for pagination */
}

.mySwiper .swiper-pagination-bullets {
  bottom: 10px !important;
}
